#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 60px 40px;
  border-radius: 20px;
  background: #fff;
  color: #1a1a1a;
  gap: 4px;
  text-align: left;

  h2 {
    margin: 0 0 10px 0;
  }

  & > input,
  textarea {
    min-width: 260px;
    padding: 6px 0 6px 10px;
  }

  button {
    margin-top: 24px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}
